<div class="container">

  <div class="card mt-4" >
    <div class="card-body bg-info">
      <div class="row">
        <form class="col-3 mt-2">
          <input class="form-control me-2" type="text" placeholder="Recherche par Référence" name="ar_Ref " [(ngModel)]="ar_Ref" (ngModelChange)= "Search()">
          
        </form>
        <div class="col-9 mt-2">
          <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedFam" (change)="onChange($event)">
            <option value="reset" selected>Sélectionner Code Famille</option>
            <option  *ngFor="let f of family" value="{{f.fa_CodeFamille}}">{{f.fa_CodeFamille}}</option>
          </select>
          
        </div>
        </div>
      </div>
      </div>

  <div class="card mt-4" >
    <div class="card-body">
      <table class="table table-hover" *ngIf="articles?.length > 0">
        <thead >
          <tr>
           <th >Référence</th>
            <th>Designation</th>
            <th>FA Intitule</th>
            <th class="table-primary">Prix Achat</th>
            <th class="table-warning">Prix Vente</th>
            <th>Depot de stockage</th>
            <th>Stock</th>
            <th>Valeur de stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of articles">
           <td><p style="font-weight: bold;">{{dataItem.ar_Ref}}</p></td>
            <td><p class="text-primary">{{dataItem.ar_Design}}</p></td>
            <td>{{dataItem.fa_Intitule}}</td>
            <td class="table-primary">{{dataItem.ar_PrixAch | currency: 'EUR'}}</td>
            <td class="table-warning">{{dataItem.ar_PrixVen | currency: 'EUR'}}</td>
            <td>{{dataItem.de_Intitule}}</td>
            <td>
              <span *ngIf="dataItem.as_qteSto == 0" class="badge bg-danger">{{dataItem.as_qteSto}}</span>
              <span *ngIf="dataItem.as_qteSto > 0" class="badge bg-success" >{{dataItem.as_qteSto}}</span>
            </td>
            <td>
              <span *ngIf="dataItem.as_MontSto == 0" class="badge bg-danger">{{dataItem.as_MontSto}}</span>
              <span *ngIf="dataItem.as_MontSto > 0" class="badge bg-success" >{{dataItem.as_MontSto}}</span>
            </td>
           
          </tr>         
        </tbody>
      </table>
      <div class="alert alert-danger" role="alert" *ngIf="articles?.length== 0">
        No Data 
     </div>
    </div>
  </div>
   
   </div>
